@font-face {
  font-family: Square721;
  src: url('@/assets/fonts/Square-721-BT_42058.ttf') format('truetype');
}
@font-face {
  font-family: Square721-Bold;
  src: url('@/assets/fonts/Square-721-Bold-BT_42055.ttf') format('truetype');
}
@font-face {
  font-family: Square721-normal;
  src: url('@/assets/fonts/square-721-bt.ttf') format('truetype');
}
@font-face {
  font-family: RegularFont;
  src: url('@/assets/fonts/objectivity.regular.otf') format('opentype');
}
@font-face {
  font-family: BlackFont;
  src: url('@/assets/fonts/Objectivity-Black.otf') format('opentype');
}
@font-face {
  font-family: SuperFont;
  src: url('@/assets/fonts/Objectivity-Super.otf') format('opentype');
}
@font-face {
  font-family: MediumFont;
  src: url('@/assets/fonts/Objectivity-Medium.otf') format('opentype');
}
@font-face {
  font-family: LightFont;
  src: url('@/assets/fonts/Objectivity-Light.otf') format('opentype');
}
@font-face {
  font-family: ExtraBoldFont;
  src: url('@/assets/fonts/Objectivity-ExtraBold.otf') format('opentype');
}
@font-face {
  font-family: BoldFont;
  src: url('@/assets/fonts/Objectivity-Bold.otf') format('opentype');
}
@font-face {
  font-family: ThinFont;
  src: url('@/assets/fonts/Objectivity-Thin.otf') format('opentype');
}
