// @font-face {
//   font-family: Square721;
//   src: url('@/assets/fonts/square-721-bt.ttf') format('truetype');
// }
@font-face {
  font-family: Square721;
  src: url('@/assets/fonts/Square-721-BT_42058.ttf') format('truetype');
}
@font-face {
  font-family: Square721-Bold;
  src: url('@/assets/fonts/Square-721-Bold-BT_42055.ttf') format('truetype');
}
@font-face {
  font-family: Square721-normal;
  src: url('@/assets/fonts/square-721-bt.ttf') format('truetype');
}
html {
  box-sizing: border-box;
  font-size: 100%;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: $source-sans;
  font-size: 16px;
  color: $medium-grey;
  overflow-x: hidden;
  @include breakpoint-up(large) {
    line-height: 1.6;
  }
  @include breakpoint-up(xxlarge) {
    font-size: 18px;
    line-height: 1.8;
  }
  // width: 100%;
  //   background: $background;
  &.noscroll {
    overflow: hidden;
  }
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: $medium-grey;
  cursor: pointer;
}
.flex {
  @include breakpoint-up(large) {
    display: flex;

    &-jc-sb {
      justify-content: space-between;
    }
    &-jc-sa {
      justify-content: space-around;
    }
    &-jc-c {
      justify-content: center;
    }
    &-jc-se {
      justify-content: space-evenly;
    }
    &-ai-c {
      align-items: center;
    }
    &-50 {
      flex: 1;
    }
    &-wrap {
      flex-wrap: wrap;
    }
  }
}
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none !important;
  }
}

.container {
  @include breakpoint-down(medium) {
    padding: $padding-mobile;
  }
  @include breakpoint-up(large) {
    padding: $padding-web;
  }
}
.column-3 {
  width: 100%;
  @include breakpoint-up(large) {
    width: 33%;
  }
}
.column-4 {
  width: 100%;
  @include breakpoint-up(large) {
    width: 25%;
  }
}
.column-6 {
  width: 100%;
  @include breakpoint-up(large) {
    width: 50%;
  }
}
.button {
  display: inline-block;
  border-radius: 5px;
  background-color: $purple;
  color: $white !important;
  padding: 0.5rem 1.5rem;
  border: 0 transparent;
  outline: none;
  font-size: $font-medium;
  font-family: $square721;
  font-weight: bold;
  cursor: pointer;
  @include breakpoint-up(large) {
    padding: 0.6rem 1.8rem;
  }
  @include breakpoint-up(xxlarge) {
    font-size: 18px;
    padding: 0.75rem 1.8rem;
  }
  &:focus {
    border: 0 transparent;
    outline: none;
  }
  &:hover {
    background-color: $medium-purple;
  }
}
.t-c {
  text-align: center;
}
.t-r {
  text-align: right;
}
p,
span {
  @include breakpoint-up(xxlarge) {
    // font-size: 1.3rem;
  }
}
h1 {
  font-family: $Square721-Bold;
  color: $purple;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  text-shadow: 0px 16px 21px #00000029;
  text-transform: capitalize;
  // font-family: $square721;
  @include breakpoint-up(large) {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  @include breakpoint-up(xxlarge) {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}
h2 {
  font-family: $Square721-Bold;
  color: $purple;
  line-height: 2rem;
  font-size: 1.75rem;
  text-shadow: 0px 16px 21px #00000029;
  @include breakpoint-up(large) {
    line-height: 2.8125rem;
  }
  @include breakpoint-up(xxlarge) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
h3 {
  font-family: $Square721-Bold;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.2rem;
  text-shadow: 0px 16px 21px #00000029;
  @include breakpoint-up(large) {
    font-size: 2rem;
  }
}
h4 {
  font-family: $Square721-Bold;
  font-size: 1.2rem;
  font-weight: 700;
  @include breakpoint-up(large) {
    font-size: 1.8rem;
  }
  @include breakpoint-up(xxlarge) {
    font-size: 2rem;
  }
}
h5 {
  font-family: $Square721-Bold;
  // font-weight: 700;
  font-size: 1.2rem;
  margin: 1.2rem 0;
  @include breakpoint-up(large) {
    font-size: 1.5rem;
  }
  @include breakpoint-up(xxlarge) {
    font-size: 1.8rem;
  }
}
h6 {
  // font-family: $nunito;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 1.2rem;
  @include breakpoint-up(xxlarge) {
    font-size: 1.5rem;
  }
}
.bg-white {
  background-color: $white;
}
.tx {
  &-c {
    text-align: center;
  }
  &-l {
    text-align: center;
  }
}
.intro__carousel {
  .VueCarousel-pagination {
    @include breakpoint-up(large) {
      margin-top: 2rem;
    }

    .VueCarousel-dot-container {
      @include breakpoint-down(medium) {
        margin-top: 0 !important;
      }
      .VueCarousel-dot {
        height: 4px !important;
        width: 2rem !important;
        border-radius: 0;
        background-color: rgba(146, 39, 143, 0.5) !important;
      }
      .VueCarousel-dot--active {
        background-color: rgba(146, 39, 143, 1) !important;
      }
    }
  }
}
.service__carousel {
  .VueCarousel-navigation--disabled {
    opacity: 0 !important;
  }
}
.fa {
  color: $purple;
}
.navigation {
  @include breakpoint-down(medium) {
    display: flex;
    justify-content: space-around;
    a {
      width: 50%;
      h6 {
        font-size: 14px;
      }
      &:nth-child(2) {
        h6 {
          text-align: right;
        }
      }
    }
  }
}
.signIn {
  .ant-input,
  .ant-select-selection {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
  }
  .ant-row {
    margin-bottom: 16px;
  }
}
.ant-table {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.ant-table-placeholder {
  border-radius: 0;
  // border-top: 2px solid rgba(53, 64, 82, 0.3);
  border-bottom: 2px solid rgba(227, 231, 237, 1);
}
.ant-table-thead > tr > th {
  background-color: white;
  font-weight: bold;
  border-bottom: 2px solid rgba(53, 64, 82, 0.3);
}
.ant-table-thead > tr:first-child > th:first-child {
  border-top-left-radius: 0;
}
.ant-table-thead > tr:first-child > th:last-child {
  border-top-right-radius: 0;
}

.ant-table-tbody > tr > td {
  border-bottom: 2px solid rgba(227, 231, 237, 1);
}
.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: $light-grey;
}
