footer {
  // position: absolute;
  // bottom: 0;
  // padding-top: 4.125rem !important;
  width: 100%;
  section {
    &:first-child {
      background-color: rgba(146, 39, 143, 0.85);
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
      @include breakpoint-up(xxlarge) {
        padding: 2.5rem 0;
      }
      .subscribe {
        @include breakpoint-down(medium) {
          padding: $padding-mobile;
        }
        @include breakpoint-up(large) {
          width: 60%;
          margin: 0 auto;
        }
        &__text {
          @include breakpoint-down(medium) {
            margin-bottom: 1rem;
          }
          @include breakpoint-up(large) {
            width: 50%;
          }
          h5 {
            color: $white;
            margin: 0;
          }
        }
        &__form {
          border: 1px solid $white;
          border-radius: 10px;
          display: flex;
          @include breakpoint-up(large) {
            margin-right: 1rem;
          }
          input {
            outline: none;
            border: none;
            width: 65%;
            background-color: transparent;
            color: $white;
            padding: 0.5rem;
            font-size: 16px;
            font-family: $RegularFont;
          }
          button {
            // float: right;
            width: 35%;
            margin: 0.3rem;
            background-color: $white;
            color: $purple !important;
            font-weight: bold;
            @include breakpoint-down(medium) {
              padding: 2px;
              font-size: 14px;
              margin: 0.1rem;
            }
            &:hover {
              background-color: $light-purple;
            }
          }
          @include breakpoint-up(large) {
            width: 45%;
          }
        }
      }
    }
    &:nth-child(2) {
      background-color: rgba(230, 212, 229, 0.5);
      padding-top: 2rem;
      padding-bottom: 2.5rem;
      .image-container {
        @include breakpoint-up(large) {
          width: 25%;
        }
        @include breakpoint-up(xxlarge) {
          width: 30%;
        }
      }
      .link-container {
        @include breakpoint-up(large) {
          width: 33%;
        }
        @include breakpoint-up(xxlarge) {
          width: 30%;
        }
      }
      .download-container {
        @include breakpoint-up(large) {
          width: 20%;
        }
      }
      .social-links {
        display: flex;
        div {
          margin-right: 5px;
        }
      }
      .p-t2 {
        padding-top: 2rem;
      }
      .logo {
        height: 4rem;
      }
      a {
        display: block;
        // font-weight: bold;
        font-size: 0.875rem;
        margin-bottom: 0.8rem;
        text-shadow: 0px 16px 21px #00000029;
        font-weight: bold;
        @include breakpoint-up(xxlarge) {
          font-size: 1rem;
        }
      }
      p {
        font-size: 0.875rem;
      }
      h6 {
        color: $purple;
        text-decoration: underline;
        margin-top: 0.5rem;
        font-size: 1rem;
      }
    }
    &:last-child {
      background-color: $medium-purple;
      padding: 1rem;
      text-align: center;
      color: $white;
      font-weight: bold;
      font-size: 10px;
    }
  }
  small {
    display: block;
    font-size: 10px;
    line-height: 2;
    text-align: center;
    @include breakpoint-up(xxlarge) {
      font-size: 12px;
    }
  }
}
